---
nutsUrl: https://ec.europa.eu/eurostat/web/gisco/geodata/reference-data/administrative-units-statistical-units/nuts
---

# Methodology

## Data sources

TODO: complete

## Geographies

We use [NUTS2]({nutsUrl}) regions as our geographical unit of analysis.

TODO: complete

## Data processing

TODO: complete
