---
repoUrl: https://github.com/nestauk/eurito_indicators
---

# EURITO indicators

## Intro

We have created an [open repository](repoUrl) of indicators.

TODO: complete.

We have also built a tool to [visualise and explore](indicators) these
indicators.

TODO: complete.

## The framework

Our indicators are arranged in these broad categories.

### Publications

AI Publications

TODO: complete

### TODO: complete

TODO: complete
